<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <th:block th:insert="~{fragments/commonHead ::commonHead}"></th:block>
    <title>Title</title>
    <script src="/js/emailVerification.js"></script>
</head>
<body>
<div th:replace="~{fragments/header :: headerFragment}"></div>
<form th:action="@{/members/signup}" method="post" th:object="${memberSignupRequest}">

    <div>
        <label th:for="loginId">아이디</label>
        <input type="text" th:field="*{loginId}">
        <div th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}">loginId Error</div>
    </div>
    <div>
        <label th:for="loginPwd">비밀번호</label>
        <input type="password" th:field="*{loginPwd}">
        <div th:if="${#fields.hasErrors('loginPwd')}" th:errors="*{loginPwd}">loginPwd Error</div>
    </div>
    <div>
        <label th:for="confirmPwd">비밀번호 확인</label>
        <input type="password" th:field="*{confirmPwd}">
        <div th:if="${#fields.hasErrors('confirmPwd')}" th:errors="*{confirmPwd}">confirmPwd Error</div>
    </div>
    <div>
        <label th:for="email">이메일 주소</label>
        <input type="email" th:field="*{email}"> <button type="button" id="emailVerificationBtn">인증 번호 전송</button>
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</div>
    </div>
    <div>
        <label th:for="emailCode">이메일 인증 번호</label>
        <input type="text" th:field="*{emailCode}">
        <div th:if="${#fields.hasErrors('emailCode')}" th:errors="*{emailCode}">emailCode Error</div>
    </div>
    <div>
        <label th:for="nickname">별명</label>
        <input type="text" th:field="*{nickname}">
        <div th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">nickname Error</div>
    </div>
    <div>
        <button type="submit">회원가입</button>
    </div>
</form>

</body>
</html>