<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="~{fragments/commonHead ::commonHead}"></th:block>
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/42.0.2/ckeditor5.css"/>
    <script src="/js/poster/view-poster.js"></script>
    <title>Title</title>
</head>
<body>
<div th:replace="~{fragments/header ::headerFragment}"></div>
<div class="container">
    <h2 class="fw-bold" th:utext="${poster.title}">제목</h2>
    <div class="d-flex align-items-center">
        <img th:src="${poster.profileImg}" alt="프로필 이미지" class="rounded-circle me-2" width="48px" height="48px">
        <div>
            <p class="m-0" th:utext="${poster.nickname}">작성자 이름</p>
            <div class="d-flex align-items-center">
                <p class="m-0 text-secondary" th:text="${poster.createdDate}" style="font-size: 10pt">날짜</p>
                <div th:if="${poster.isAchieve == true}" class="d-flex align-items-center ms-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16"
                         height="16" fill="#55abed" class="bi bi-patch-check-fill" viewBox="0 0 16 16">
                        <path d="M10.067.87a2.89 2.89 0 0 0-4.134 0l-.622.638-.89-.011a2.89 2.89 0 0 0-2.924 2.924l.01.89-.636.622a2.89 2.89 0 0 0 0 4.134l.637.622-.011.89a2.89 2.89 0 0 0 2.924 2.924l.89-.01.622.636a2.89 2.89 0 0 0 4.134 0l.622-.637.89.011a2.89 2.89 0 0 0 2.924-2.924l-.01-.89.636-.622a2.89 2.89 0 0 0 0-4.134l-.637-.622.011-.89a2.89 2.89 0 0 0-2.924-2.924l-.89.01zm.287 5.984-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708.708"/>
                    </svg>
                    <span class="fw-bold" style="color: #55abed;">완료된 버킷리스트</span>
                </div>
            </div>
        </div>
        <div class="ms-auto mt-auto text-end" sec:authorize="isAuthenticated()">
            <a class="link-secondary link-underline-opacity-0"
               th:if="${#authentication.getPrincipal().id == poster.memberId} and ${poster.isAchieve == false}"
               th:href="@{/poster-achieves/write/{posterId}(posterId = ${poster.posterId})}">완료</a>
            <a class="link-secondary link-underline-opacity-0"
               th:if="${#authentication.getPrincipal().id == poster.memberId}"
               th:href="@{/posters/{posterId}/update(posterId = ${poster.posterId})}">수정</a>
            <a class="link-secondary link-underline-opacity-0"
               th:if="${#authentication.getPrincipal().id == poster.memberId}"
               href="">삭제</a>
        </div>
    </div>
    <hr>
    <div th:utext="${poster.content}" class="ck-content">내용</div>
    <ul class="px-0">
        <th:block th:each="tag : ${poster.tags}">
            <li class="d-inline-flex px-2 me-1 my-1 border rounded bg-light-subtle">
                <span class="text-secondary" th:utext="${tag}" name="tag" style="font-size: 10pt">태그</span>
            </li>
        </th:block>
    </ul>
    <hr>
    <div th:if="${poster.isAchieve == true}">
        <div th:utext="${poster.posterAchieveContent}" class="ck-content">완료 내용</div>
        <hr>
    </div>
    <ul id="all-posters-overview" class="list-group list-group-flush" th:data-poster-id="${posterId}">

    </ul>
    <div class="d-flex justify-content-between">
        <button id="prev-page-btn" class="btn border-0">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
            </svg>
            Previous
        </button>
        <button id="next-page-btn" class="btn border-0">
            Next
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right"
                 viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
            </svg>
        </button>
    </div>
</div>
</body>
</html>