<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="~{fragments/commonHead.html ::commonHead}"></th:block>
    <title>Title</title>
</head>
<body>
<header th:replace="~{fragments/header :: headerFragment}"></header>
<div class="container">
    <div class="row">
        <div class="col-sm border">
            <div class="text-center">
                <a href="/posters">전체 게시글</a>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item" th:each="poster : ${allPosters}">
                    <div>
                        <img th:src="${poster.profileImg}" width="20" height="20">
                        <a class="link-dark link-underline-opacity-0 m-0" th:href="@{/members/{memberId}/posters(memberId = ${poster.memberId})}" th:utext="${poster.nickname}">닉네임</a>
                        <span class="m-0 text-secondary" style="font-size: 10pt" th:utext="${poster.createdDate}">날짜</span>
                        <div>
                            <a class="link-dark link-underline-opacity-0" th:href="@{/posters/{id}(id=${poster.posterId})}" th:utext="${poster.title}">제목</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="col-sm border">
            <h5 class="text-center">col</h5>
        </div>
    </div>
</div>
</body>
</html>