<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <th:block th:insert="~{fragments/commonHead.html ::commonHead}"></th:block>
    <script src="/js/home/load-poster.js"></script>
    <title>Title</title>
</head>
<body>
<header th:replace="~{fragments/header :: headerFragment}"></header>
<div class="container">
    <div class="row">
        <div class="col-sm border">
            <div class="text-center">
                <a href="/posters">전체 게시글</a>
            </div>
            <div class="btn-group btn-group-sm d-flex justify-content-end" role="group" aria-label="Small button group">
                <button id="all-posters-prev-page-btn" class="btn border-0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
                        <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
                    </svg>
                </button>
                <button id="all-posters-next-page-btn" class="btn border-0">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                    </svg>
                </button>
            </div>
            <ul id="all-posters-overview">
            </ul>
        </div>
        <div class="col-sm border">
            <h5 class="text-center">col</h5>
        </div>
    </div>
</div>
</body>
</html>